bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

publish/
out/

*.nupkg
*.snupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

.idea/

TestResults/
